body{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AtmosPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.menubar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #2DAB66;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.menubar .logo {
  width: 83px;
  height: 23px;
  margin: auto;
  top: 18px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.sections, .first{
  display: flex;
  position: relative;
  height: 800px;
  width: 1180px;
  overflow: hidden;
  background-color: white;
}

.first {
  justify-content: center;
}

.sections h2 {
  font-size: 44px;
  line-height: 56px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
}

.first h3 {
  font-size: 30px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  margin-top: 300px
}

.sections p{
  font-family: 'Roboto',sans-serif;
  margin-top: 28px;
  font-size: 21px;
  line-height: 36px;
}

.first p{
  font-family: 'Roboto',sans-serif;
  margin-top: 28px;
  font-size: 21px;
  line-height: 36px;
}

.sections section {
  position: absolute;
  top: 186px;
  width: 500px;
}

.first section {
  position: absolute;
  top: 186px;
}

.atmos {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 250px;
  background-size: cover;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.sections.about section {
  left: 30px;
}

.sections.world section {
  left: 600px;
}

.sections.eco  section {
  left: 30px;
}

.sections.style section {
  left: 600px;
}

.sections.center section nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  height: 60px;
  width: 100%;
}

.sections.center section nav .btn{
  color: #000;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 17px;
  background-color: #77FFE1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.underline {
  margin-top: 14px;
  font-size: 16px;
  color: #FFF;
}

.letter {
  position: absolute;
}

#a {
  top: 100px;
  left: 730px;
  width: 600px;
  height: 600px;
  background-image: url(../images/a.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#t {
  top: 100px;
  right: 750px;
  width: 600px;
  height: 600px;
  background-image: url(../images/t.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#m {
  top: 100px;
  left: 700px;
  width: 600px;
  height: 600px;
  background-image: url(../images/m.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#o {
  top: 100px;
  right: 640px;
  width: 600px;
  height: 600px;
  background-image: url(../images/o.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#s {
  top: 50px;
  left: 750px;
  width: 600px;
  height: 600px;
  background-image: url(../images/s.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.view {
 height: 600px;
 display: flex;
}

.slider {
  width: 500px;
  height: 300px;
  margin: auto;
}

.slider > div {
  height: 100%;
  background-size: cover;
}

.slider-image1 {
  background-image: url(../Photos/1.jpg);
}

.slider-image2 {
  background-image: url(../Photos/2.jpg);
}

.slider-image3 {
  background-image: url(../Photos/3.jpg);
}
