@media (min-width:1024px) and (max-width:1180px) {
  .menubar {
    height: 42px;
  }

  .sections {
    height: 568px;
    width: 1024px;
  }

  .sections section {
    top: 134px;
  }

  .sections h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .sections p{
    margin-top: 19px;
    font-size: 16px;
    line-height: 26px;
  }

  .FolioPage section .line {
    margin-top: 44px;
  }

  .sections.left section {
    left: 114px;
  }

  .sections.right section {
    left: 568px;
  }

  .sections.center section {
    top: 134px;
  }

  .sections.center section nav {
    margin-top: 44px;
  }


  #mockup1 {
    left: 534px;
    top: 166px;
    width: 376px;
    height: 851,22px;
    }

  #mockup201 {
    top: 138px;
    left: 114px;
    width: 100px;
    height: 226,39px;
  }

  #mockup202 {
    top: 138px;
    left: 238px;
    width: 100px;
    height: 282,1px;
  }

  #mockup203 {
    top: 138px;
    left: 360px;
    width: 100px;
    height: 338,89px;
  }

  #mockup3 {
    top: 243px;
    left: 455px;
    width: 540px;
    height: 286,51px;
  }

  .FolioPage footer p{
    bottom: 54px;
    padding-bottom: 0px;
  }


}
