@media (max-width:768px) {
  .menubar {
    height: 42px;
  }

  .sections {
    height: 1024px;
  }

  .sections section {
    top: 134px;
  }

  .sections h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .sections p{
    margin-top: 19px;
    font-size: 16px;
    line-height: 26px;
  }

  .sections.about section {
    left: 300px;
    z-index: 1;
  }

  .sections.world section {
    left: 300px;
    z-index: 1;
  }

  .sections.eco  section {
    left: 300px;
    z-index: 1;
  }

  .sections.style section {
    left: 300px;
    z-index: 1;
  }

  #a {
    left: 500px;
  }

  #t {
    left: 50px;
  }

  #m {
    left: 450px;
  }

  #o {
    left: 170px;
  }

  #s {
    left: 520px;
  }
